<div class="container loader-wrapper" *ngIf="isLoading; else elseNoUser">
  <app-loader></app-loader>
</div>

<ng-template #elseNoUser>
  <div class="container pt-4">
    <ngb-alert
      #selfClosingAlert
      *ngIf="serverMessage"
      [type]="typeMessage"
      (closed)="serverMessage = ''"
      >{{ serverMessage }}
    </ngb-alert>
    <h2>Edit user</h2>
    <app-user-form
      [user]="user"
      (submitUserChangesEvent)="updateUser($event)"
    ></app-user-form>
  </div>
</ng-template>
