td:last-of-type {
  position: relative;
  padding-right: 40px;
}

a svg {
  transition: 0.3s;
  cursor: pointer;
  position: absolute;
  right: 40px;
  font-size: 0;
  path {
    transition: 0.3s;
  }
  &:hover path {
    fill: #dea478;
  }
}
